# Miscellaneous
/admin/*.class
/admin/*.log
/admin/*.pyc
/admin/*.swp
/admin/.DS_Store
/admin/.atom/
/admin/.buildlog/
/admin/.history
/admin/.svn/
/admin/migrate_working_dir/

# IntelliJ related
/admin/*.iml
/admin/*.ipr
/admin/*.iws
/admin/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/admin/**/doc/api/
/admin/**/ios/Flutter/.last_build_id
/admin/.dart_tool/
/admin/.flutter-plugins
/admin/.flutter-plugins-dependencies
/admin/.packages
/admin/.pub-cache/
/admin/.pub/
/admin/build/

# Web related
/admin/lib/generated_plugin_registrant.dart

# Symbolication related
/admin/app.*.symbols

# Obfuscation related
/admin/app.*.map.json

# Android Studio will place build artifacts here
/admin/android/app/debug
/admin/android/app/profile
/admin/android/app/release


